
@{
    ViewBag.Title = "Admin";
}

<h2 class="mt-4">Admin Pannel</h2>

<body>
    <ul class="list-group">
        <li class="list-group-item"> <a href="/hotels"> Manage Hotels </a></li>
        <li class="list-group-item"><a href="/Users"> Manage Users </a></li>
        <li class="list-group-item"><a href="/Images"> Manage Images </a></li>
        <li class="list-group-item"><a href="/Reviews"> Manage Reviews </a></li>
      
    </ul>










</body>

