@model Hotel_Management_Project.Models.User

<div class="overflow-hidden">
    <div class="container-fluid col-xxl-11">
        <div class="row flex-lg-nowrap align-items-center g-5">
            <div class="order-lg-1 w-100">
                <img style="clip-path: polygon(25% 0%, 100% 0%, 100% 99%, 0% 100%);" src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/224709009.jpg?k=5d9ae4eb540dada8b56312cf5b6ea06d6325f89fa55424f2016388881f1a0dbb&o=&hp=1" />
            </div>
            <div class="col-lg-6 col-xl-5 text-center text-lg-start pt-lg-10 mt-xl-4">
                <div class="lc-block mb-4">
                    <div editable="rich">
                        <h1 class="fw-bold display-3">
                            Plan your best trip EVER
                        </h1>
                    </div>
                </div>

                <div class="lc-block mb-5">
                    <div editable="rich">
                        <p class="rfs-8">  </p>
                    </div>
                </div>

                <div class="lc-block mb-6">
                    <a class="btn btn-primary px-4 me-md-2 btn-lg" href="/Hotels/list" role="button">Explore Hotels</a>
                </div>

                <div class="lc-block">
                    <div editable="rich">
                        <p class="fw-bold">We collaborate with the best all over the world:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="lc-block col-3"><img class="img-fluid wp-image-975" src="https://static.tacdn.com/img2/brand_refresh/Tripadvisor_lockup_horizontal_secondary_registered.svg" width="" height="300" srcset="" sizes="" alt=""></div>
                    <div class="lc-block col-3"><img class="img-fluid wp-image-977" src="https://imgcy.trivago.com/image/upload/hardcodedimages/mpm-localised-logos/626.png" width="" height="300" srcset="" sizes="" alt=""></div>
                    <div class="lc-block col-3"><img class="img-fluid wp-image-974" src="https://imgcy.trivago.com/image/upload/hardcodedimages/mpm-localised-logos/452.png" width="" height="300" srcset="" sizes="" alt=""></div>
                    <div class="lc-block col-3"><img class="img-fluid wp-image-967" src="https://imgcy.trivago.com/image/upload/hardcodedimages/mpm-localised-logos/395.png" width="" height="300" srcset="" sizes="" alt=""></div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container">
    <div class="row py-4 py-lg-6">
        <div class="col-lg-5 order-lg-2 d-flex align-items-center justify-content-center justify-content-lg-cen ms-lg-n6">
            <div style="z-index:1" class="lc-block col-9 col-lg-10 mb-n3 mb-lg-0">
                <img class="img-fluid shadow" src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/244010175.jpg?k=20881a5fe7376fdde2b5e0db4ae790a771f5e41a23d2bf0d33a0a990808bf29b&o=&hp=1;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8MTZ8fGJ1aWxkaW5nfGVufDB8Mnx8fDE2MzQ1NTA4MDc&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=1080" alt="Photo by Kaloyan Draganov">
            </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-lg-7 bg-light px-lg-5 p-5">
            <div class="col-lg-10 ms-lg-5">
                <div class="lc-block mb-4">
                    <div editable="rich">
                        <h1 class="fw-bold display-3">Joins us for a better experience! </h1>
                    </div>
                </div>
                <div class="lc-block mb-5">
                    <div editable="rich">
                        <p class="lead" > We recommand the best Hotels around you and give your the best deals to enjoy time out ! </p>
                    </div>
                </div><!-- /lc-block -->
                <div class="lc-block">
                    <a class="btn btn-primary btn-lg" href="/users/register" role="button">Join us</a>
                </div><!-- /lc-block -->
            </div>
        </div><!-- /col -->

    </div>
</div>

<!-- -->

<div class="container">
    <div class="row py-4 py-lg-6">
        
        <div class="col-lg-6 order-lg-2 d-flex align-items-center justify-content-center justify-content-lg-cen bg-light ms-lg-n6">
            <div class="col-lg-10 ms-lg-5">
                <div class="lc-block mb-4">
                    <div editable="rich">
                        <h1 class="rfs-30">Browse and search for hotels</h1>
                    </div>
                </div>
                <div class="lc-block mb-5">
                    <div editable="rich">
                        <p class="lead"> You can search for hotels by city, name or number of stars ! We make sure to recommand you the best options around your location to give you an easier choice to make.</p>
                    </div>
                </div><!-- /lc-block -->
                
                <div class="lc-block">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Go back up</a>
                </div><!-- /lc-block -->
            </div>
        </div><!-- /col -->





        <div class="col-lg-6 px-lg-5 p-5">
            <div style="z-index:1" class="lc-block col-9 col-lg-10 mb-n3 mb-lg-0">
                <img class="img-fluid shadow" src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/27785279.jpg?k=fb32f176b36b9cce06a327e9d22e71b9c519bd5e56f16af3fc7e65375285d33a&o=&hp=1;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8MTZ8fGJ1aWxkaW5nfGVufDB8Mnx8fDE2MzQ1NTA4MDc&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=1080" alt="Photo by Kaloyan Draganov">
            </div><!-- /lc-block -->
        </div><!-- /col -->



    </div>
</div>